<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Drop - Multipurpose Responsive Cover Page / Multipage High Quality Portfolio Template">
        <meta name="keywords" content="">
        <meta name="author" content="traivan98-1">
        <title>Drop - Multipurpose Responsive Cover Page / Multipage High Quality Portfolio Template</title>
        <!-- ===============    favicon link     =============== -->
        <link rel="icon" type="image/png" href="images/favicon.png" />
        <!-- ===============    Bootstrap core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all" />
        <!-- ===============    font-awesome core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" media="all" />
        <!-- ===============    ionicon core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="css/ionicons.min.css" media="all" />
        <!-- ===============    magnific-popup core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="css/magnific-popup.css" media="all" />
        <!-- ===============    theme core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="css/effect1.css" media="all" />
        <!-- ===============    theme core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="css/theme.css" media="all" />
        <!-- ===============    responsive core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="css/responsive.css" media="all" />
        <!-- ===============    spacing core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="css/spacing.min.css" media="all" />
        <!-- ===============    theme content color core CSS     =============== -->
        <link rel="stylesheet" type="text/css" href="css/theme-content-color/blue.css" media="all" />
        <!-- ===============    Google fonts CSS     =============== -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,300,700,500%7CLato:100,400,300,700,900' rel='stylesheet' type='text/css'>
        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        <!-- ===============    Start template markup     =============== -->
        <!-- START preloader section -->
        <div class="ip-container" id="ip-container">
            <div class="ip-header">
                <div class="ip-loader">
                    <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
                        <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
                        <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
                    </svg>
                </div>
            </div>
            <div class="menu-wrapper">
                <div class="container">
                    <header>
                        <div class="logo">
                            <a href="index.html">
                                <img src="images/logo.png" alt="">
                            </a>
                        </div>
                        <div class="mobile-menu">
                            <span class="line"></span>
                        </div>
                        <nav>
                            <ul>
                                <li class="active">
                                    <a href="index.html">Home</a>
                                    <ul>
                                        <li>
                                            <a href="#">Multipage</a>
                                            <ul>
                                                <li><a href="mp-agency.html">Agency</a></li>
                                                <li><a href="mp-art-work.html">Art Work</a></li>
                                                <li><a href="mp-design-company.html">Design Company</a></li>
                                                <li><a href="mp-designer.html">Designer</a></li>
                                                <li><a href="mp-fitness.html">Fitness</a></li>
                                                <li><a href="mp-portfolio.html">Portfolio</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Cover Page</a>
                                            <ul>
                                                <li><a href="cover-agency.html" target="new">Cover Agency</a></li>
                                                <li><a href="cover-art-work.html" target="new">Art Work</a></li>
                                                <li><a href="cover-freelancer.html" target="new">Freelancer</a></li>
                                                <li><a href="cover-personal-cv.html" target="new">Personal</a></li>
                                                <li><a href="cover-portfolio.html" target="new">Portfolio</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About</a></li>
                                <li>
                                    <a href="#">Portfolio</a>
                                    <ul>
                                        <li>
                                            <a href="#">filter</a>
                                            <ul>
                                                <li><a href="portfolio-with-filter.html">filter</a></li>
                                                <li><a href="portfolio-without-filter.html">Without filter</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">layout</a>
                                            <ul>
                                                <li><a href="portfolio-fullwidth.html">fillwidth</a></li>
                                                <li><a href="portfolio-grid-4.html">container</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Masonry</a>
                                            <ul>
                                                <li><a href="masonry-2.html">masonry 2</a></li>
                                                <li><a href="masonry-3.html">masonry 3</a></li>
                                                <li><a href="masonry-4.html">masonry 4</a></li>
                                                <li><a href="masonry-gutter-2.html">gutter 2</a></li>
                                                <li><a href="masonry-gutter-3.html">gutter 3</a></li>
                                                <li><a href="masonry-gutter-4.html">gutter 4</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Grid</a>
                                            <ul>
                                                <li><a href="portfolio-grid-2.html">grid 2</a></li>
                                                <li><a href="portfolio-grid-3.html">grid 3</a></li>
                                                <li><a href="portfolio-grid-4.html">grid 4</a></li>
                                                <li><a href="portfolio-grid-gutter-2.html">gutter 2</a></li>
                                                <li><a href="portfolio-grid-gutter-3.html">gutter 3</a></li>
                                                <li><a href="portfolio-grid-gutter-4.html">gutter 4</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Mosaic</a>
                                            <ul>
                                                <li><a href="mosaic-1.html">Mosaic 1</a></li>
                                                <li><a href="mosaic-2.html">Mosaic 2</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Single</a>
                                            <ul>
                                                <li><a href="single-portfolio.html">Image</a></li>
                                                <li><a href="slider-portfolio.html">Slider</a></li>
                                                <li><a href="parallax-portfolio.html">Parallax</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                    <ul>
                                        <li><a href="about-us.html">About us</a></li>
                                        <li><a href="about-me.html">About Me</a></li>
                                        <li><a href="service.html">Service</a></li>
                                        <li><a href="single-blog.html">Single Blog</a></li>
                                        <li><a href="contact-us.html">Contact Us</a></li>
                                        <li><a href="under-constraction.html" target="new">Under Construction</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Journal</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="#">Buy</a></li>
                            </ul>
                        </nav>
                    </header>
                </div>
            </div>
        </div>
        <!--/ END preloader section -->
        <!-- START intro section -->
        <section class="page-section bg-img bg-dark-alfa-90" data-background="images/cover-bg.jpg">
            <div class="page-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="white-text fw-900 ls-3 mb-20 fs-50">John Doe! <br/> UI & UX Designer.</h1>
                            <p class="lead white-text mb-30">Beautiful front-end components <br/>built for modern startups.</p>
                            <a href="#" class="btn btn-theme btn-sm">Hire me</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/ END intro section -->
        <!-- Start page section -->
        <section class="page-section pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="atom-portfolio-filter list-inline mb-50">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            <li><a href="#" data-filter=".creative">Art Work</a></li>
                            <li><a href="#" data-filter=".corporate">Web Design</a></li>
                            <li><a href="#" data-filter=".design">Design</a></li>
                            <li><a href="#" data-filter=".video">Photography</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- work grid -->
            <div class="work-grids-area hover-one masonry no-gutter" id="atom-works-grid">
                <div class="col-md-3 col-sm-6 col-xs-12 atom-work-item creative corporate video">
                    <a href="single-portfolio.html">
                        <img src="images/portfolio/masonry/1.jpg" alt="" class="img-responsive">
                        <div class="desc text-center">
                            <h5>project title</h5>
                            <p>art work</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 atom-work-item corporate video design">
                    <a href="slider-portfolio.html">
                        <img src="images/portfolio/masonry/4-1.jpg" alt="" class="img-responsive">
                        <div class="desc text-center">
                            <h5>project title</h5>
                            <p>art work</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 atom-work-item creative design">
                    <a href="parallax-portfolio.html">
                        <img src="images/portfolio/masonry/2.jpg" alt="" class="img-responsive">
                        <div class="desc text-center">
                            <h5>project title</h5>
                            <p>art work</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 atom-work-item creative design">
                    <a href="single-portfolio.html">
                        <img src="images/portfolio/masonry/3.jpg" alt="" class="img-responsive">
                        <div class="desc text-center">
                            <h5>project title</h5>
                            <p>art work</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 atom-work-item creative design">
                    <a href="slider-portfolio.html">
                        <img src="images/portfolio/masonry/5.jpg" alt="" class="img-responsive">
                        <div class="desc text-center">
                            <h5>project title</h5>
                            <p>art work</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 atom-work-item creative design">
                    <a href="parallax-portfolio.html">
                        <img src="images/portfolio/masonry/7.jpg" alt="" class="img-responsive">
                        <div class="desc text-center">
                            <h5>project title</h5>
                            <p>art work</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 atom-work-item creative design">
                    <a href="single-portfolio.html">
                        <img src="images/portfolio/masonry/6-1.jpg" alt="" class="img-responsive">
                        <div class="desc text-center">
                            <h5>project title</h5>
                            <p>art work</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 atom-work-item creative design">
                    <a href="slider-portfolio.html">
                        <img src="images/portfolio/masonry/8.jpg" alt="" class="img-responsive">
                        <div class="desc text-center">
                            <h5>project title</h5>
                            <p>art work</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 atom-work-item creative design">
                    <a href="parallax-portfolio.html">
                        <img src="images/portfolio/masonry/9.jpg" alt="" class="img-responsive">
                        <div class="desc text-center">
                            <h5>project title</h5>
                            <p>art work</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 atom-work-item creative design">
                    <a href="single-portfolio.html">
                        <img src="images/portfolio/masonry/10.jpg" alt="" class="img-responsive">
                        <div class="desc text-center">
                            <h5>project title</h5>
                            <p>art work</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 atom-work-item creative design">
                    <a href="slider-portfolio.html">
                        <img src="images/portfolio/masonry/11.jpg" alt="" class="img-responsive">
                        <div class="desc text-center">
                            <h5>project title</h5>
                            <p>art work</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 atom-work-item creative design">
                    <a href="parallax-portfolio.html">
                        <img src="images/portfolio/masonry/12.jpg" alt="" class="img-responsive">
                        <div class="desc text-center">
                            <h5>project title</h5>
                            <p>art work</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 atom-work-item creative design">
                    <a href="single-portfolio.html">
                        <img src="images/portfolio/masonry/13.jpg" alt="" class="img-responsive">
                        <div class="desc text-center">
                            <h5>project title</h5>
                            <p>art work</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 atom-work-item creative design">
                    <a href="single-portfolio.html">
                        <img src="images/portfolio/masonry/14.jpg" alt="" class="img-responsive">
                        <div class="desc text-center">
                            <h5>project title</h5>
                            <p>art work</p>
                        </div>
                    </a>
                </div>
            </div>
            <!--/ work grid -->
        </section>
        <!--/ End page section -->
        <!-- Start page section -->
        <section class="page-section white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <div class="section-heading">
                            <h2 class="title">My Extensive <span class="theme-color">Services</span></h2>
                            <img src="images/branding-border.png" alt="" class="heading-border">
                            <h4 class="subtitle">My diverse team comprises talent from a range of design disciplines working together to deliver effective solutions</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 serv text-center">
                        <img src="images/service/1.jpg" alt="">
                        <div class="serv-desc">
                            <div class="serv-icon theme-bg">
                                <i class="ion-ios-people-outline"></i>
                            </div>
                            <h3>Meeting sessions</h3>
                            <p class="gray-text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse consequat.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 serv text-center">
                        <img src="images/service/2.jpg" alt="">
                        <div class="serv-desc">
                            <div class="serv-icon theme-bg">
                                <i class="ion-ios-recording-outline"></i>
                            </div>
                            <h3>Planning &amp; sketching</h3>
                            <p class="gray-text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse consequat.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 serv text-center">
                        <img src="images/service/3.jpg" alt="">
                        <div class="serv-desc">
                            <div class="serv-icon theme-bg">
                                <i class="ion-ios-lightbulb-outline"></i>
                            </div>
                            <h3>Development &amp; testing</h3>
                            <p class="gray-text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse consequat.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 serv text-center">
                        <img src="images/service/4.jpg" alt="">
                        <div class="serv-desc">
                            <div class="serv-icon theme-bg">
                                <i class="ion-ios-wineglass-outline"></i>
                            </div>
                            <h3>Product launch</h3>
                            <p class="gray-text">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse consequat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/ End page section -->
        <!--/ Start page section -->
        <section class="page-section theme-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="fw-100 fs-58 white-text mb-20">Present your <span class="fw-700">web</span>, easily.</h1>
                        <h4 class="white-text mb-30 mb-sm-10">The perfect layout for presenting landing pages for apps or software in contemporary style.</h4>
                        <form id="drop-mc-form" method="GET" class="form white-form form-inline">
                            <label for="drop-subscribe-email" class="drop-subscribe-message"></label>
                            <input id="drop-subscribe-email" placeholder="Enter Your Email" class="newsletter-field form-control mb-xs-10 mr-10" type="email"/>
                            
                            <button type="submit" class="btn btn-white btn-sm mb-xs-10">
                            Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--/ End page section -->
        <!-- Start page section -->
        <section class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <div class="section-heading">
                            <h2 class="title">Why do people love <span class="theme-color">Me?</span></h2>
                            <img src="images/branding-border.png" alt="" class="heading-border">
                            <h4 class="subtitle">Built for designers and developers alike, Drop combines an engaging <br/> look with squeaky-clean code.</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="testimonial">
                            <div class="testimonial-content">
                                Aliquam erat volutpat. Etiam tortor sapien, elementum quis semper eu, convallis eget justo. Nulla facilisi. Curabitur cursus vestibulum turpis eget sagittis. Phasellus tempus semper tellus, sed ullamcorper libero sodales.
                            </div>
                            <footer>
                                <img src="images/testimonial/1.png" alt="" />
                                <span>Mark Doe</span><p>Customer Master</p>
                                <div class="clear"></div>
                            </footer>
                        </div>
                        <div class="testimonial">
                            <div class="testimonial-content">
                                Aliquam erat volutpat. Etiam tortor sapien, elementum quis semper eu, convallis eget justo. Nulla facilisi. Curabitur cursus vestibulum turpis eget sagittis. Phasellus tempus semper tellus, sed ullamcorper libero sodales.
                            </div>
                            <footer>
                                <img src="images/testimonial/2.png" alt="" />
                                <span>Jessica Blake</span><p>Customer Master</p>
                                <div class="clear"></div>
                            </footer>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="testimonial my-animation">
                            <div class="testimonial-content">
                                Aliquam erat volutpat. Etiam tortor sapien, elementum quis semper eu, convallis eget justo. Nulla facilisi. Curabitur cursus vestibulum turpis eget sagittis. Phasellus tempus semper tellus, sed ullamcorper libero sodales.
                            </div>
                            <footer>
                                <img src="images/testimonial/3.png" alt="" />
                                <span>Christian Cilinis</span><p>Customer Master</p>
                                <div class="clear"></div>
                            </footer>
                        </div>
                        <div class="testimonial my-animation">
                            <div class="testimonial-content">
                                Aliquam erat volutpat. Etiam tortor sapien, elementum quis semper eu, convallis eget justo. Nulla facilisi. Curabitur cursus vestibulum turpis eget sagittis. Phasellus tempus semper tellus, sed ullamcorper libero sodales.
                            </div>
                            <footer>
                                <img src="images/testimonial/4.png" alt="" />
                                <span>Britney Doe</span><p>Customer Master</p>
                                <div class="clear"></div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/ End page section -->
        <!-- Start page section -->
        <section class="page-section white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <div class="section-heading">
                            <h2 class="title">My Latest <span class="theme-color">News</span></h2>
                            <img src="images/branding-border.png" alt="" class="heading-border">
                            <h4 class="subtitle">My diverse team comprises talent from a range of design disciplines working together to deliver effective solutions</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutter">
                <div class="col-md-4">
                    <div class="cblock-one">
                        <img src="images/service/1.jpg" alt="" class="img-responsive">
                        <div class="desk">
                            <div class="vcenter">
                                <h2 class="title">Saturday Science: Farms in Wisconsin</h2>
                                <div class="time">Saturday, June 4, 10:00 am</div>
                            </div>
                        </div>
                        <a href="#" class="arrow-btn theme-bg"><span class="btn-content">Learn More</span> <span class="btn-icon"><i class="fa fa-angle-right"></i></span></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cblock-one">
                        <img src="images/service/2.jpg" alt="" class="img-responsive">
                        <div class="desk">
                            <div class="vcenter">
                                <h2 class="title">Summer Expedition</h2>
                                <div class="time">Wednesday, June 15 8:00 am</div>
                            </div>
                        </div>
                        <a href="#" class="arrow-btn theme-bg"><span class="btn-content">Learn More</span> <span class="btn-icon"><i class="fa fa-angle-right"></i></span></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cblock-one">
                        <img src="images/service/2.jpg" alt="" class="img-responsive">
                        <div class="desk">
                            <div class="vcenter">
                                <h2 class="title">Summer Expedition</h2>
                                <div class="time">Sunday, July 15 8:00 pm</div>
                            </div>
                        </div>
                        <a href="#" class="arrow-btn theme-bg"><span class="btn-content">Learn More</span> <span class="btn-icon"><i class="fa fa-angle-right"></i></span></a>
                    </div>
                </div>
            </div>
        </section>
        <!--/ End page section -->
        <!-- Start page section -->
        <section class="about-fullimg bg-img bg-dark-alfa-70" data-background="images/cover-bg.jpg">
            <div class="container vcenter">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h2 class="white-text mb-30 fw-700">Are you interested in work with me?</h2>
                        <p class="lead white-text mb-30">I'd love to hear from you to discuss web design, product <br/> development or to hear your new startup idea.</p>
                        <a href="#" class="btn btn-theme btn-sm">Let's start</a>
                    </div>
                </div>
            </div>
        </section>
        <!--/ End page section -->
        <!-- START footer section -->
        <footer class="atom-footer-area small-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="copyright">
                            <img src="images/logo-footer.png" alt="logo" class="img-responsive">
                            <p>Copyright &copy; 2017 <a href="https://themeforest.net/user/traivan98-1">traivan98-1</a>. <br/> Buy this template</p>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul class="list-inline social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--/ END footer section -->
        <!-- ===============    /End template markup     =============== -->
        <!-- ===============    jQuery core jquery     =============== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.12.4.min.js"><\/script>')</script>
        <!-- ===============    Bootstrap core jquery     =============== -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- ===============    modernizr core jquery     =============== -->
        <script type="text/javascript" src="js/modernizr.custom.js"></script>
        <!-- ===============    classie core jquery     =============== -->
        <script type="text/javascript" src="js/classie.js"></script>
        <!-- ===============    pathLoader core jquery     =============== -->
        <script type="text/javascript" src="js/pathLoader.js"></script>
        <!-- ===============    imagesloaded core jquery     =============== -->
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <!-- ===============    maps api core JavaScript     =============== -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAn6O1FH3HVYgbZG79NSkSFPdlikaFT6ro"></script>
        <!-- ===============    stellar core jquery     =============== -->
        <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
        <!-- ===============    smooth core jquery     =============== -->
        <script type="text/javascript" src="js/smooth.js"></script>
        <!-- ===============    isotope core jquery     =============== -->
        <script type="text/javascript" src="js/isotopoe.pkgd.min.js"></script>
        <!-- ===============    appear core jquery     =============== -->
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <!-- ===============    countTo core jquery     =============== -->
        <script type="text/javascript" src="js/jquery.countTo.js"></script>
        <!-- ===============    masonary core jquery     =============== -->
        <script type="text/javascript" src="js/masonary.min.js"></script>
        <!-- ===============    magnific-popup core jquery     =============== -->
        <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
        <!-- ===============    countdown core jquery     =============== -->
        <script type="text/javascript" src="js/jquery.countdown.js"></script>
        <!-- ===============    ajaxchimp core jquery     =============== -->
        <script type="text/javascript" src="js/jquery.ajaxchimp.min.js"></script>
        <!-- ===============    ROW JavaScript Plugins    =============== -->
        <script type="text/javascript" src="js/row-plugins.js"></script>
        <!-- ===============    Active core JavaScript     =============== -->
        <script type="text/javascript" src="js/active.js"></script>
    </body>
</html>